{% extends 'base.html' %}
{% block title %}Cadastrar Horário{% endblock %}
{% block content %}
<!-- admin irá cadastrar novos horários -->
	<br>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<form class="form-post" method="post">
					{% csrf_token %}
					<!-- {{ novo_horario.as_p }} -->
					<div class="form-group">
						<label for="professor">Professor</label>
						<!-- pega o valor do select e coloca no input de forma escondida -->
						<select name="Professor" id="professor" class="custom-select" onchange='document.getElementById("nome_professor").value = this.value'autofocus required>
							<option disabled selected>Selecione um professor</option>
							<option value="Ari Oliveira">Ari Oliveira</option>
							<option value="Mariana">Mariana</option>
							<option value="Romerito">Romerito</option>
							<option value="Hudson">Hudson</option>
						</select>
						<input type="hidden" id="nome_professor" name="nome_professor" value="">
					</div>
					
					<div class="form-group">
						<label for="Turno">Turno</label>
						<!-- pega o valor do select e coloca no input de forma escondida -->
						<select name="Turno" id="Turno" class="custom-select" onchange='document.getElementById("turno").value = this.value' required>
							<option disabled selected>Selecione um turno</option>
							<option value="Manhã">Manhã</option>
							<option value="Tarde">Tarde</option>
							<option value="Noite">Noite</option>
						</select>
						<input type="hidden" id="turno" name="turno" value="">
					</div>
					
					<div class="form-group">
						<label for="horario">Horário</label>
						<input class="form-control" type="text" required id="horario" name="horario" maxlength="3">
						<small class="form-text text-muted">Use formato 'XXh'</small>
					</div>
					
					<div class="form-group">
						<label for="Dia">Dia</label>
						<select name="Dia" id="Dia" class="custom-select" onchange='document.getElementById("dia").value = this.value' required>
							<option disabled selected>Selecione um dia da semana</option>
							<option value="Segunda">Segunda</option>
							<option value="Terça">Terça</option>
							<option value="Quarta">Quarta</option>
							<option value="Quinta">Quinta</option>
							<option value="Sexta">Sexta</option>
						</select>
						<input class="form-control" type="hidden" value="" id="dia" name="dia">
					</div>

					<button type="submit" class="btn-lg btn btn-success">Enviar</button>
					<a href="{% url 'index' %}">
						<button type="button" class="btn-lg btn btn-danger">
							Voltar
						</button>
					</a>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
