{% extends 'base.html' %}
{% load static %}
{% block title %}Sobre o projeto{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<center><img src="{% static 'api/imgs/logo.png' %}" class="img-fluid" width="50%" height="auto"></center>
			</div>
			<div class="col-md-6">
				<p>Esse projeto foi realizado em 1 mês pelos alunos do IFRN - Campus Caicó<br>Analistas: Vinícius Augusto e Natácia Medeiros<br> Designer: Nicolas Lyan<br>Programadores: Adson Matheus e Rony Icaro<br>Gerente: Adson Matheus<br>Orientador/Cliente: Ari Oliveira</p><br>				
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<p><a style="color: black" href="https://www.github.com/adson62/vivencia-if-att.git" target="_blank">Projeto no GitHub <i class="fab fa-github"></i></a></p>
				<p><a style="color: black" href="http://arioliveira.duckdns.org:3101/projects/reserva-da-area-de-vivencia-do-ifrn" target="_blank">Acompanhe como foi o projeto no Redmine <i class="fas fa-laptop-code"></i></a></p>
			</div>
		</div>
	</div>
{% endblock %}
